<div class="card text-white bg-primary mt-5 mb-3">
    <h2 class="card-header heading" >Filtra noticias por pais y categoria</h2>
    <div class="card-body row ">
        <div class="col-lg-8 offset-lg-2">
            <form (ngSubmit)="buscarNoticia()" >

                <div class="form-group mt-3 form-control-lg">                    
                    <select name="pais" [(ngModel)]="paisSeleccionado" class="form-select" >
                        <option [value]="pais.value" *ngFor="let pais of paises" >{{pais.name}}</option>
                        
                    </select>
                </div>

                <div class="form-group mt-3 form-control-lg ">                    
                    <select   name="categoria" class="form-select" [(ngModel)]="categoriaSeleccionada" >
                        <option [value]="categori.value" *ngFor="let categori of categorias" >{{categori.name}}</option>
                        
                    </select>
                </div>
                <div class="d-flex divbtn " >
                    <button type="submit" class="btn btn-success btn-lg btn-block">Buscar</button>
                </div>
            </form>
           
            
    
        </div>


    </div>
</div>